footer {
    border-top: 1px solid #7e7e7e;
    padding-top: 44px;
 }
 
 footer a {
    text-decoration: none;
    color: black;
 }
 
 footer .social {
    background: #FC6731;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
 }
 
 footer .social a {
    color: rgb(96, 255, 149);
 }
 
 .go-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #FC6731;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
 }
 
 
 /* ultimos ajustes */
 
 .navbar-toggler {
    padding: .10rem .45rem;
    border: 1px solid white;
 }
 
 .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
 }
 
 .navbar-toggler i.bi-list {
    color: white;
    font-size: 1.6rem;
 }
 
 @media (max-width: 992px) {
    .navbar-collapse {
       padding-bottom: 19px;
    }
    .wave {
       padding-top: 6rem;
    }
 }
 
 @media (max-width: 768px) {
    .text-center-xs {
       text-align: center;
    }
    .text-center-xs img {
       width: 366px;
    }
 }