<div id="el-fomulario-de-registro" class = "bootstrap-wrapper">
  <br>
<br>
<br>
  <div class = "container">
    <div class = "row" style = "margin-top : 20px;">
      <div class = "col-md-6 offset-md-3">
        <div class="container text-center">
          <img src="../../../assets/registered.png" width = "100" height = "100">
        </div>

        <h1 class="text-center">Registrate aqui</h1>


        <form (ngSubmit) = "formSubmit()">
          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Nombre de usuario</mat-label>
            <input required [(ngModel)] = "user.username" name = "username" matInput placeholder="Digite su nombre de usuario">
            <mat-hint>El nombre de usuario debe ser único</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Contraseña</mat-label>
            <input required [(ngModel)] = "user.password" name = "password" type = "password" matInput placeholder="Digite su contraseña">
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Nombre</mat-label>
            <input required [(ngModel)] = "user.nombre" name = "nombre" matInput placeholder="Digite su nombre">
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Apellido</mat-label>
            <input required [(ngModel)] = "user.apellido" name = "apellido" matInput placeholder="Digite su apellido">
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Email</mat-label>
            <input required [(ngModel)] = "user.email" name = "email" type="email" matInput placeholder="Digite su email">
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Telefono</mat-label>
            <input required [(ngModel)] = "user.telefono"  name = "telefono" matInput placeholder="Digite su telefono">
          </mat-form-field>

          <div class = "container text-center">
            <button class="login-button btn-primary">Registrar</button>
            <button type="reset" style = "margin-left: 20px;" class="login-button btn-primary">Limpiar</button>
          </div>
        </form>
        <br><br><br>
      </div>
    </div>
  </div>
</div>








<!--
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div id="el-fomulario-de-registro" class="Registro">
    <div class="login-form">
    <h2 style="color:#000000">Registrarse</h2>
		<h3>Nombre:</h3>
		<input type="text" formControlName="nombre" class="form-control" placeholder="Nombre"/><br>
    <h3>Apellido:</h3>
    <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido"/><br>
		<h3>Fecha de nacimiento:</h3>
    <div>
      <label for="matInput">Fecha de Nacimiento</label>
      <div>
          <input type="date" class="form-control" formControlName="fechaNac">
      </div>
  </div>
  <div>
  <span class="form-text text-danger"
  *ngIf="campoEsValido('fechaNac')">
     Debe seleccionar una fecha de nacimiento valida
  </span>
		<h3>Correo electronico:</h3>
		<input type="text" formControlName="email" class="form-control" placeholder="Email"/><br>
    <h3>Contraseña:</h3>
    <input type="password" formControlName="contraseña" class="form-control" placeholder="Password"/><br> 
    <span class="form-text text-danger"
    *ngIf="campoEsValido('contraseña')">
        El mínimo de carácteres para una contraseña es 8.
   </span>
    <h3>Ingrese nuevamente contraseña:</h3>
	  <input type="password" formControlName="contraseñarep" class="form-control" placeholder="Password"/>
    <div class="form-text text-danger" *ngIf="repitaPassword()"> 
      <div >Las contraseñas deben coincidir</div>
  </div>
  <br> 
    <br>
    <input type="button" value="Registro" class="register-button btn-primary"/>
    <h6 class="no-access">Se encuentra a un paso de ser miembro de Remis Ya!</h6>
  </div> 

-->
