<mat-card class="card">
    <h1 class="text-center">Detalles del perfil</h1>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="container">
          <div class="text-center">
            <img src="../../../../assets/planta1.jpg" alt="" class="profile-img">
            <br>
            <br>
            <div class="mt20"><h2>{{user.nombre}} {{user.apellido}}</h2></div>
          </div>
          <br>
          <br>
  
          <div class="col-md-10 offset-md-1">
            <table class="table text-center">
              <tr>
                <td>Nombre usuario</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>Id</td>
                <td>{{user.id}}</td>
              </tr>
              <tr>
                <td>Telefono</td>
                <td>{{user.telefono}}</td>
              </tr>
              <tr>
                <td>Rol</td>
                <td>{{user.authorities[0].authority}}</td>
              </tr>
              <tr>
                <td>Estado</td>
                <td>{{ user.enabled ? "Activo" : "No activo" }}</td>
              </tr>
            </table>
            <div class = "container text-center">
            <!--  <button class="login-button btn-primary" [routerLink]="'/perfil'">Editar</button>-->
              <a routerLink="'/perfil'"  class="nav-link align-middle px-0"></a>
          </div>
            <mat-action-list>
              <mat-card id="Admin">
              <div class="text-center menu"><h2 >Administrar productos</h2></div>
              <br>
              <p> </p>
              <button type="button" class="btn btn-danger" routerLink="/crear">Añadir</button>
              <br>
              <p> </p>
              <button type="button" class="btn btn-warning" routerLink="/lista">Editar</button>
              <br>
              <p> </p>
              <button type="button" class="btn btn-dark" routerLink="/lista">Borrar</button>
            </mat-card>
            </mat-action-list>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
