
.contenedor {
	width: 80%;
	max-width: 1000px;
	margin: 20px auto;
   
}

.contenedor article {
	line-height: 28px;
}
.contenedor article p {
	margin-bottom: 20px;
    
}

.contenedor article .btn-abrir-popup {
	padding: 0 60px;
	margin-bottom: 40px;
	height: 60px;
	line-height: 50px;
	border: none;
    justify-content: center;
	color: rgb(255, 255, 255);
	background: #009dff;
	border-radius: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: #67abd4;
}


.overlay {
	background: rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #c5dcdd;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	padding: 40px;
	text-align: center;
	width: 500px;
	
	transition: .3s ease all;
	transform: scale(0.5);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 14px;
	line-height: 14px;
	display: block;
	text-align:center;
	transition: .3s ease all;
	color: #0a0a0a75;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 7px;
	opacity: 0;
}

.popup h4 {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 7px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 95%;
	margin-bottom: 10px;
	height: 40px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #838282;
}

.popup form .btn-submit {
	padding: 0 25px;
	height: 45px;
	line-height: 45px;
	border: none;
	color: #fff;
	background: #009dff;
	border-radius: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: #67abd4;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}