<section id="services" class="services section-bg">
    <div class="container">
       <div class="section-title">
          <h2>Sobre nosotros</h2>
       </div>
       <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
             <div class="icon-box">
                <div class="icon mb-3"><i class="bi bi-alarm"></i></div>
                <h4>Rápido</h4>
                <p>En cuestión de segundos te aseguramos un transporte sin demoras, elegimos la mejor vía para que llegues a destino en el menor tiempo.</p>
             </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
             <div class="icon-box">
                <div class="icon mb-3"><i class="bi bi-geo-alt"></i></div>
                <h4>Seguro</h4>
                <p>Contamos con rastreo satelital donde podrás ver el recorrido del coche,además tenes todo el perfil del chofer que esta a cargo del viaje.</p>
             </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 d-flex align-items-stretch">
             <div class="icon-box">
                <div class="icon mb-3"><i class="bi bi-journal-check"></i></div>
                <h4>Fácil</h4>
                <p>Solamente con un click, tenés la posibilidad de conseguir un viaje.<strong>Lo antes posible.</strong></p>
             </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 d-flex align-items-stretch">
             <div class="icon-box">
                <div class="icon mb-3"><i class="bi bi-code-square"></i></div>
                <h4>Suscripciones mensuales</h4>
                <p>Al registrarse, podrá utilizar nuestros servicios y comprar suscripciones mensuales.</p>
             </div>
          </div>
       </div>
    </div>
    <br>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>¡Hola! ¡Somos Remis Ya!
                    Con nuestro servicio te facilitamos el pedido de remis, ya que estamos en contacto con varias agencias de Remis. </p>
                <p>¿Como funciona Remis Ya?
                    Es simple, una vez que realizas el pedido de un vehículo para trasladarte por la ciudad de Córdoba a través de nuestra página, nosotros enviamos esta solicitud a nuestras agencias amigas de Remis para que acepten la solicitud y te envíen un coche, de esta forma tendrás a tu disposición el móvil de la agencia que esté con más vehículos libres por tu zona, es decir que tendrás un coche a tu disposición lo antes posible sin tener que llamar a varias agencias para saber quien puede enviarte un móvil más rápido.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
 </section>
