.services .icon-box {
    padding: 33px 25px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
 }
 
 .services .icon-box:hover {
    box-shadow: 0px 15px 30px rgb(77 87 222 / 30%);
 }
 
 .services .icon-box .icon i {
    color: #FCAB44;
    font-size: 43px;
 }
 
 .services .icon-box h4 {
    margin-bottom: 15px;
    color: #FC562C;
 }
 
 